* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
}

.aside {
  display: flex;
  background-color: black;
  padding: 1rem;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.menu {
  width: 0;
  color: white;
  /* overflow: none; */
  transition: 0.5s;
}

.show {
  width: 15rem;
  /* display: block; */
  padding: 1rem;
  transition: 0.5s;
}

.menu h1 {
  padding-left: 1.5rem;
}

article {
  width: 100vw;
}

article h1 {
  text-align: center;
}

li {
  padding-left: 1.5rem;
  list-style: none;
}

.credit-list {
  text-align: center;
}

.app-container {
  border: 1px solid;
  padding: 1rem;
  margin: 1rem;
  border-radius: 2px;
}

button {
  width: 80%;
}

.app-container h2 {
  text-align: center;
  padding-bottom: 1rem;
}

#list {
  display: flex;
  flex-direction: column;
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grocery-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 50vw;
  box-shadow: 2px 2px 15px black;
}

.top-row {
  border: initial;
  border-radius: initial;
  box-shadow: initial;
  padding-bottom: 0;
  margin-bottom: 0;
}

.item {
  width: 10rem;
}


.input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
}

.input button {
  width: 100%;
}

#input-name,
#input-qty {
  margin: 0.5rem;
}

#input-qty {
  justify-content: flex-end;
}

.remove:hover {
  transition: .2s;
  transform: scale(1.5);
}

.to-be-removed {
  transform: scale(2);
  transition: .2s;
}