.container {
  display:flex;
  flex-direction: column;
  align-content: center;
  padding-top: 10vh;
  width: 50vw;
}

.hidden {
  display: none;
}

.show {
  display: flex;
  flex-direction: column;
}

.column {
  display:flex;
  flex-direction: row;
  flex: 1 0 1;
  justify-content: space-between;
}

.show-col {
  flex: 1 0 1;
  flex-grow: 1;
  margin: 0 1em 0 1em;
}

.show-col input {
  width: 100%;
  
}