.black {
  background-color:black;
  color:white;
  transition: 2s;
}

.container {
  display:flex;
  flex-direction: column;
  align-content: center;
  padding-top: 10vh;
  width: 50vw;
  transition: 2s;

}

.hidden {
  display: none;
  transition: 2s;
}

.show {
  display: flex;
  flex-direction: column;
  transition: 2s;
}

.column {
  display:flex;
  flex-direction: row;
  flex: 1 0 1;
  justify-content: space-between;
  transition: 2s;
}

.show-col {
  flex: 1 0 1;
  flex-grow: 1;
  transition: 2s;
}